    <hr class="featurette-divider">
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Voltar ao topo</a></p>
		
		<table style="width:100%">
		<tr>
		<td><b>Somos três jovens desenvolvedores, trabalhando com método SCRUM para trazer um sistema de trocar de livros, de maneira confiável, moderna e em um ambiente agradável - Melivrei</b></td>
		<br>
		</tr>
		
		<table style="width:100%">
		<tr>
		<td><b>Utilidades</b></td>
		<td><b>Minha conta</b></td> 
		<td><b>Nos siga</b></td>
		</tr>
		<tr>
		<td>Termos de uso</td>
		<td>Fazer cadatro</td>
		<td>Nosso facebook</td>
		</tr>
		<tr>
		<td>FAQ</td> 
		<td>Fazer login</td>
		<td>Nosso twitter</td>
		</tr>
		<tr>
		<td>Visualizar produtos</td> 
		<td>Logout</td>
		<td>Nosso blog</td>
		</tr>
		<tr>
		<td>Slider</td>
		</tr>
  </tr>
</table>
		<br>
        <p>&copy; melivrei 2016 - todos os direitos reservados &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		<p> O Melivrei tem todos seus direitos reservados por seus termos legais; </p>
		
		
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="sources/bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../sources/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../sources/bootstrap/js/vendor/holder.min.js"></script>
  </body>
</html>